.box {
	padding: 0 15px 30px;
	text-align: center;
	background-color: #f6f7ea;
}


.box img {
	border-radius: 500px;
	margin-top: -65px;
}

.box .title {
	padding-top: 24px;
	margin-bottom: 26px;
	font: 24px/20px 'Open Sans', sans-serif;
}

.box>div>a {
	position: relative;
	display: inline-block;
	margin-top: 24px;
	font: 300 16px/20px 'Open Sans', sans-serif;
}

.box>div>a:after {
	display: block;
	position: absolute;
	content: '';
	background: url(../images/link_marker.png) right 0 no-repeat;
	right: -27px;
	width: 16px;
	height: 8px;
	padding-right: 20px;
	top: 7px;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

.containerku {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}

.tinggi{
	height: 300px;
}

.container_12 .grid_3 {
  width: 220px;
}

.container_12 .grid_12 {
  width: 940px;
}

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}

.clearfix,
.container_12 {
  zoom: 1;
}

.ea{
	padding-top: 30px;
}

.ae{
	margin-bottom: 100px;
}

.ea>.grid_3{
	margin-left: 70px;
}

.oe h3{
	margin-bottom: 50px;
	margin-top: -15px;
	text-align: center;
	font-family: 'Droid Serif', serif;
	text-transform: uppercase;
}

.judul{
	margin-bottom: 100px;
	text-align: center;
	font-family: 'Droid Serif', serif;
	text-transform: uppercase;
}

.sliderku {
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
}

.login{
	margin-top: 7px;
	width: 190px;
}

.gallery{
	padding:5em 0;
	text-align:center;
}

h3.tittle-w3l {
    font-size: 3em;
    color: #00B5B5;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5em;
}

.newsletter h3.tittle-w3l {
    margin-bottom:1em;
}

.block1 {
	margin-bottom: 5px;
	position: relative;
	text-align: center;
	overflow: hidden;
	display: block;
}

.block1 .price {
	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	padding: 70px 0 67px;
	left: 50%;
	height: 217px;
	display: block;
	top: 50%;
	overflow: hidden;
	margin-top: -108px;
	margin-left: -104px;
	font: bold 20px/20px 'Open Sans', sans-serif;
	color: #fff;
	width: 217px;
	position: absolute;
	border: 5px solid #fff;
	border-radius: 500px;
}

.block1 .price span+span {
	padding-top: 14px;
	font-size: 36px;
	display: block;
}

.block1 .price small {
font-size: 30px;
position: relative;
top: 2px;
}

.block1 .price * {
	position: relative;
	z-index: 10;
}

.block1 .price strong {
	z-index: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-radius: 500px;	
	opacity: 0;
	right: 0;
	height: 100%;
	background: url(../images/overlay.png) 0 0 repeat;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.block1:hover .price strong {
	opacity: 1;

}

.block1:hover .price {
	color: #4f4f4f;
}

.block1 img {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.block1.blur  img {
	filter: url(../js/blur.svg#blur);
}

.block1:hover img {
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); 
	filter: blur(3px)
}

.paket>h2{
	color: #666666;
	font-family: inherit;
}

.paket>h2>strong{
	color: #ff6600;
}

.container2ku>h2{
	color: #666666;
	font-family: inherit;
	text-transform: uppercase;
}

.container2ku>h2>strong{
	color: #ff6600;
}

.tengah{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px; 
}
udulku{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.panelku,
.panelku:focus{
  background-color: #FF5722;
  color: #ffffff;
  border-radius: 3px;
  outline: none;
}

.panelku:hover{
  transition: 0.5s;
  background-color: #ffffff;
  color: #FF5722;
  border: 2px solid #FF5722;
}

.float1 {
  float: right;
}

.float2{
  float: right;
}

.down{
  transform: rotate(180deg);
}

.nav > li > a{
  color: #FF5722;
}

.klik{
  margin-bottom: 10px;
}

.button-pinjam{
  width: 90%;
  height: 50px;
  background-color: #ffffff;
  color: #FF5722;
  border: 2px solid #FF5722;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  font-weight: bold;
}

.button-pinjam:hover{
  width: 100%;
  height: 50px;
  background-color: #FF5722;
  color: #ffffff;
  transition: 0.3s;
}

label > input{
  visibility: hidden;
  position: absolute;
}

label > input + img{
  cursor: pointer;
  border: 2px solid transparent;
  width: 270px;
  height: 270px;
}

label > input:hover + img{
  border: 2px solid #c1fafc;
  border-radius: 10px;
}

label > input:checked + img{
  border: 2px solid #FF5722;
  border-radius: 0px;
  transition: 0.7s;
  transition-delay: 0.1s;
}

div.box{
  background-color: #f3f6f6;
  height: 70px;
  width: 270px;
  border-radius: 4px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

div.box > h5{
  margin: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

div.box > p{
  font-family: 'Roboto', sans-serif;
  color: #c83203;
}

div.tab-pane > h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
  text-transform: uppercase;
}

div.tab-pane > h2 > strong{
  color: #FF5722;
}